
mixin notificationCard(img, name, msgNum, msg)
 .notification-card
      .user-photo
        img(src=`/img/users/${img}` alt="User Photo")
      .notification-content
        .user-info
          p.user-name= name
          p.message-count #{msgNum} mensagens
        p.last-message-preview= msg

doctype hmtl 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Chat App
    link(rel="stylesheet" href="/css/style.css")
    script( defer src="/dist/index.js")
  body
    .container
      aside.sidebar
        .user-profile
          .user-main
            img.user-avatar.my-photo(src=`/img/users/${user.photo}`)
            .user-name= user.name.split(' ')[0]
            img.create-group-icon(src="/img/icons/create-group-icon.png")
            .notification-icon
              span#notification-count.notification-count 0
              i.bell-icon &#x1F514;
        ul.user-list
          each user in users
              li.user-item(data-room=`${user.room}`)
                img.user-avatar(src=`/img/users/${user.userData.image}` alt="User Avatar")
                .user-name= user.userData.name.split(' ')[0]
                .user-message-preview Lorem ipsum dolor sit amet...
          each group in groups
              li.user-item(data-room=`${group.room}`)
                button.user-dropdown-trigger
                 img.user-avatar(src=`/img/group/${group.groupData.image}` alt="User Avatar")

                div.user-dropdown-content
                  div.user-dropdown-item.leave-group
                    svg.icon(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                      path(d="M17 16l4-4-4-4M21 12H9")
                    span Leave the group
                    -const id = user._id.toString()
                  if id === group.groupData.createdBy
                    div.user-dropdown-item.update-group
                      svg.icon(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        path(d="M12 20h9")
                        path(d="M16.5 3.5a2.121 2.121 0 1 1 3 3L7 19l-4 1 1-4 12.5-12.5z")
                      span Update group
                  
                  div.user-dropdown-item.show-info
                    svg.icon(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                      circle(cx="12" cy="12" r="10")
                      path(d="M12 16v-4")
                      path(d="M12 8h.01")
                    span Show more info
                .user-name= group.groupData.name.split(' ')[0]
                .user-message-preview Lorem ipsum dolor sit amet...
      .main-content
        h1(class="h1") Search for users
        input(type="text" class="search-bar" placeholder="Buscar...")
        .search-results
          ul.searched-users.user-list
         
        
   
