
mixin notificationCard(img, name, msgNum, msg)
 .notification-card
      .user-photo
        img(src=`/img/users/${img}` alt="User Photo")
      .notification-content
        .user-info
          p.user-name= name
          p.message-count #{msgNum} mensagens
        p.last-message-preview= msg

doctype hmtl 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Chat App
    link(rel="stylesheet" href="/css/style.css")
    script( defer src="/dist/index.js")
  body
    .container
      aside.sidebar
        .user-profile
          .user-main
            img.user-avatar(src=`/img/users/${user.photo}`)
            .user-name= user.name.split(' ')[0]
            img.create-group-icon(src="/img/icons/create-group-icon.png")
            .notification-icon
              span#notification-count.notification-count 0
              i.bell-icon &#x1F514;
        ul.user-list
          each user in users
              li.user-item(data-room=`${user.room}`)
                img.user-avatar(src=`/img/users/${user.userData.image}`)
                .user-name= user.userData.name.split(' ')[0]
                .user-message-preview Lorem ipsum dolor sit amet...
          each group in groups
              li.user-item(data-room=`${group.room}`)
                img.user-avatar(src=`/img/group/${group.groupData.image}`)
                .user-name= group.groupData.name.split(' ')[0]
                .user-message-preview Lorem ipsum dolor sit amet...
      .main-content
        h1(class="h1") Search for users
        input(type="text" class="search-bar" placeholder="Buscar...")
        .search-results
          ul.searched-users.user-list
         
        
   
